{{> head }}

<body>
  {{> navigation }}

  <main>
    <h1>{{ heading }}</h1>
  </main>
  <h4>Clean files in the squanch of a second</h4>
  <br>
  <div class="squanchy">
    <img src="../images/squanchy.png" />
  </div>
  <form id="upload-widget" method="POST" action="/clean" class="dropzone">
    <div class="fallback">
      <input name="files" id="files" type="file" multiple />
      <input type="submit" />
    </div>
  </form>
  <br>
  <div class="buttons" id="buttons">
    <li class="show-button" id="show-button" onclick="show()"><a href="#" class="nav-link">Show
        metadata</a>
    </li>
    <li class="download-button" id="download-button" onclick="download()"><a href="#" class="nav-link">Download
        files</a></li>
  </div>
  <br><br>
  <div class="log-section" id="log-section">
    <pre class="log-content" id="log-content"></pre>
  </div>
</body>

</html>